# Xcode
.DS_Store
xcuserdata/

# Swift Package Manager
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Checkouts
Carthage/Build

# Swift Package Manager
Packages
Package.pins

# Python virtual environments
venv/
env/
.venv/
.env/
ENV/
pythonenv*/
.Python
__pycache__/

# Video files
*.mp4

# Image files
*.jpg
*.jpeg
*.png

# Docker
Dockerfile
requirements.txt