<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCj31jVeTsE7xlmg7QZVn3KBaNvlVaafRc</string>
	<key>GCM_SENDER_ID</key>
	<string>49980310777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.moonshot.liftguard</string>
	<key>PROJECT_ID</key>
	<string>lift-guard</string>
	<key>STORAGE_BUCKET</key>
	<string>lift-guard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49980310777:ios:759e790a20694ca7f34e28</string>
</dict>
</plist>